<section id="flash-success">
  Your message has been successfully sent!
</section>
<section id="flash-error">
  An error occured! Please phone us for further support.
</section>

<section id="hero">
  <div id="inner-hero">
    <div id="hero-links">
      <ul>
        <li><a id="content-link" href="#">Features</a></li>
        <li><a id="about-link" href="#">About</a></li>
        <li><a id="gallery-link" href="#">Gallery</a></li>
        <li><a id="contact-link" href="#">Contact</a></li>
      </ul>
    </div>
    <div id="hero-content">
      <h3>Sew Unique</h3>
      <h5>by Bonnie</h5>
      <h4>Keep you looking your best since 1981</h4>
      <button id="contact-button" class="button success">Contact Us</button>
    </div>
  </div>
</section>

<section id="contact-bar">
  <span class="contact phone">(250)-286-1432</span>
  <span class="contact email">bksewunique@gmail.com</span>
</section>

<section id="content">
  <h2>What we have to offer</h2>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Feature 1") %>
      <h4>Hems<h4>
      <p>
        Same day service for jean and pant hems, Euro hems, and hand hems.
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-2.jpg'), alt: "Feature 2") %>
      <h4>Alterations<h4>
      <p>
        Over 30 years experience for custom alterations for women and men.
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-3.jpg'), alt: "Feature 3") %>
      <h4>Dresses<h4>
      <p>
        Custom dress creation from casual to evening, including prom and bridal.
      </p>
    </div>
  </div>
</section>

<section id="about">
  <div class="bio">
  <h2>About Me</h2>
    <p>
      Born and raised in Campbell River, I have always enjoyed the creative artistry
      of sewing. Since starting my business over 30 years ago, I have grown from
      completing my apprenticship for dress making and designing, to creating and altering
      custom gowns for thousands of brides and grads. I specialize in custom fitting for both
      women and men; shaping your clothes to best suit your body type.
    </p>
  </div>
  <div class="photo">
    <%= image_tag(s3_image('landing/bonnie.jpg'), alt: 'Bonnie King') %>
  </div>
</section>

<%= render partial: 'photos/gallery' %>

<section id="contact">
  <div id="email-form">
    <h4>Contact us</h4>
    <div id="inner-form">
      <h4>First / Last Name</h4>
      <input id="email-name" type="text" />
      <h4>E-mail</h4>
      <input id="email-email" type="text" />
      <h4>Message</h4>
      <textarea id="email-message" rows="4"></textarea>
      <button id="email-send" class="button success"><i class="fa fa-envelope"></i>Send</button>
    </div>
  </div>
  <div id="map">
    <h4>Where to find us</h4>
    <p>You can find us at 2350 Campbell River Rd, Campbell River.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.749665220123!2d-125.28344751851009!3d50.03478644710847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2bffc5f4bdc10295!2sSew+Unique!5e0!3m2!1sen!2sca!4v1431911450420" frameborder="0" style="border:0"></iframe>
    <h4 class="second">Get in touch</h4>
    <p>If you want to get in contact with us, we can be reached at:</p>
    <ul>
      <li><i class="fa fa-phone"></i>250 286 1432</li>
      <li><i class="fa fa-envelope"></i>bksewunique@gmail.com</li>
    </ul>
    <p>
      Tuesday - Friday: 11 - 6
    </p>
    <p>
      Evening and weekend appointments available upon request.
    </p>
  </div>
</section>

<%= render partial: 'photos/lightbox' %>

