<section id="flash-success">
  Your message has been successfully sent!
</section>
<section id="flash-error">
  An error occured! Please phone us for further support.
</section>
<%= render partial: 'root/hero' %>
<%= render partial: 'root/contact_bar' %>
<%= render partial: 'root/content' %>
<%= render partial: 'root/about' %>
<%= render partial: 'photos/gallery' %>
<%= render partial: 'root/contact' %>
<%= render partial: 'photos/lightbox' %>

