<section id="flash-success">
  Your message has been successfully sent!
</section>
<section id="flash-error">
  An error occured! Please phone us for further support.
</section>
<section id="hero">
  <div id="inner-hero">
    <div id="hero-links">
    <ul>
      <li><a id="content-link" href="#">Features</a></li>
      <li><a id="about-link" href="#">About</a></li>
      <li><a id="gallery-link" href="#">Gallery</a></li>
      <li><a id="contact-link" href="#">Contact</a></li>
    </ul>
    </div>
    <div id="hero-content">
      <h3>Sew Unique</h3>
      <h5>by Bonnie</h5>
      <h4>Turning you from ass to class since 1991</h4>
      <button id="contact-button" class="button success">Contact Us</button>
    </div>
  </div>
</section>
<section id="contact-bar">
  <span class="contact phone">(250)-555-5555</span>
  <span class="contact email">bksewunique@gmail.com</span>
  <span class="contact hours">TUE - FRI: 11 - 6</span>
</section>
<section id="content">
  <h2>What we have to offer</h2>
  <h5>
    Some short little blurb about all the services that Bonnie
    has to offer. Maybe this should be two setences.
  </h5>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag("feature-1.jpg", alt: "Feature 1") %>
      <h4>Hems<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag("feature-1.jpg", alt: "Feature 2") %>
      <h4>Gowns<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag("feature-1.jpg", alt: "Feature 3") %>
      <h4>Dresses<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
</section>
<section id="about">
  <div class="bio">
  <h2>About Me</h2>
    <p>
      My name Is Bonnie King and I have been sewing for years. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great.
      My name Is Bonnie King and I have been sewing for years. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great.
    </p>
  </div>
  <div class="photo">
    <%= image_tag("feature-1.jpg", alt: "Bonnie King") %>
  </div>
</section>
<section id="gallery">
  <h2>Gallery</h2>
  <%= render partial: 'photos/gallery' %>
</section>
<section id="contact">
  <div id="email-form">
    <div id="inner-form">
      <h4>Name / Last Name</h4>
      <input id="email-name" type="text" />
      <h4>E-mail</h4>
      <input id="email-email" type="text" />
      <h4>Message</h4>
      <textarea id="email-message" rows="4"></textarea>
      <button id="email-send" class="button success"><i class="fa fa-envelope"></i>Send</button>
    </div>
  </div>
  <div id="map">
    <h4>Where to find us</h4>
    <p>You can find us at 9999 Campbell River Rd, Campbell River.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.749665220123!2d-125.28344751851009!3d50.03478644710847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2bffc5f4bdc10295!2sSew+Unique!5e0!3m2!1sen!2sca!4v1431911450420" frameborder="0" style="border:0"></iframe>
    <h4 class="second">Get in touch</h4>
    <p>If you want to get in contact with us, we can be reached at:</p>
    <ul>
      <li><i class="fa fa-phone"></i>250 555 5555</li>
      <li><i class="fa fa-envelope"></i>bonnie@myemail.com</li>
    </ul>
  </div>
</section>
<section id="footer">
  <h1>Sewn with <span class="heart"></span>in Campbell River</h1>
</section>
